.socialLinks a {
    text-decoration: none;
}

.vk-share-button * {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.social__buttons-container .social__button {
    float: left;
    margin-right: 10px;
    width: 110px;
}

.social__buttons-container {
    padding: 15px 0 20px 0;
}

.supportSolutionsHelper__guide__directions_other {
    background-image: url("../images/ill_solutions_helper_services.png");
}

.supportFAQ__block_other h3:before{
    background: url('../images/iconspr-s9615f90542.png') no-repeat;
}

.supportFAQ__block_other h3:before {
    background-position: 0 -1565px;
    width: 39px;
    height: 50px;
}
