
.timeline-groups-axis-onleft {
	background: transparent !important;
}

.timeline__channel .channel__favorite {
	background: url("../images/iconspr/tv_guide_favorstar.png");
	position: absolute;
	right: 30px;
	top: 50%;
	margin-top: -12px;
	display: block;
	width: 25px;
	height: 25px;
	line-height: 800px;
	overflow: hidden;
}
/*.tvtimeline .timeline-content > div:nth-child(5),*/ .tvtimeline .timeline-content .timeline-content_tappedArea {
	background: url("../images/tv_guide_timeline.png") 0 0 repeat-x #f2f3f5;
	height: 50px;
	z-index: 1;
	margin-top:-15px;
}
.tvtimeline .timeline-axis-text {
	z-index: 2;
	font-family: 'Fira Sans Medium';
	color: #9099a3;
	font-size: 22px;
	font-weight: normal;
}
.tvtimeline .timeline-axis-text span {
	font-size: 12px;
	position: relative;
	top: -8px;
}
.onPagePopup_verificationForm__address {
	overflow: visible;
}
.tt-dropdown-menu {
	border: solid 1px #dddddd;
	width: 100%;
	padding: 12px;
	background: #ffffff;
/*	max-height: 180px;*/
	overflow-y: auto;
}
.tt-dataset-1, .tt-dataset-street {
}
.tt-dataset-1 *, .tt-dataset-street * {
	display: block;
	width: 100%;
	max-height: 40px !important;
	margin-bottom: 10px !important;
	padding-bottom: 0 !important;
	line-height: normal !important;
	color: #000000;
}

/*"1. Выровнять на сайте и кабинете поиск по одному размеру + 2. Поп-ап поиска должен полностью на уровне и по размеру сходится с дизейбл состоянием"


Для фронта:*/

.stikyHeader__siteSection__help .header__search__droppedResult {
	width: 430px;
	top: 118px;
}
.stikyHeader__siteSection__help .header__search__droppedResult {
	margin-left: -373px;
}
.header__search__droppedResult .header__search_input {
	width: 340px;
}
.header__search__droppedResult__bottom {
	padding: 20px 0 0 0;
	text-align: center;
}


/*Для кабинета:*/
.header__search__droppedResult {
	top: 21px;
}
.header__search__droppedResult .header__search_input {
	width: 410px;
}

/*3. "Если ввести wifi, то плывет верстка"
Кабинет*/

.header__search__droppedResult__itemsList {
	min-height: 100px;
	overflow: auto;
}
.header__search__droppedResult__itemsList dl dt {
	line-height: normal;
}


/* правки дропдауна автокомплита на стартовой*/

.tt-dropdown-menu {
	border-radius: 0;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.0);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.0);
	box-shadow: 0 5px 10px rgba(0,0,0,.0);
}
.stikyHeader__siteSection__help .header__search__droppedResult {
	width: 500px;
}
.header__search__droppedResult__itemsList dl dt {
	font-size: 12px;
}
.header__search__droppedResult__itemsList dl {
	margin: 30px 0 0 0;
}
.contentTabSelector {
	height:auto !important;
}
.contentTabSelector:after {
	content:'';
	display:block;
	clear:both;
}
.contentTabSelector li a {
	padding-top: 5px;
}
.tt-dropdown-menu span * {
}

.loginHelp__directions__block__href {
	display: block;
	top: 0;
	left: 0;
	position: absolute;
	height: 230px;
	width: 161px;
	padding-top: 170px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

/* правки дрроп-подсказки на https://my.volia.com/kiev/uk/recovery/address/passport*/
.loginHelp__helper__addressForm__city .tt-dropdown-menu, .loginHelp__helper__addressForm__street .tt-dropdown-menu {
	width:auto !important;
	margin-top: 0 !important;
	border-radius: 0 !important;
	right:0  !important;
	height:auto;
}
.tt-dropdown-menu {
	height: auto !important;
}
.tt-suggestion {
	margin:0 0 10px 0;
	padding:5px !important;
}
.tt-suggestion:hover {
	background:#f48e20;
	color:white;
}
.tt-suggestion * {
	margin:0 !important;
	padding:0 !important;
}
.tt-suggestion:hover * {
	color:white !important;
}
.globalSiteMenu__li_dropped .tariffPlan .description .box img {
	width:214px;
	height:185px;
	position: relative;
	top: -20px;
}
.tt-dataset-number {
	background-color: transparent;
}
/*Правки лайн-хейта для Фронта и Кабинета*/
body {
	line-height:normal !important;
}
h1, .h1, h4, .h4, .header__siteSection__help__dropdown .questions .ulLongList, .globalSiteMenu__li, .globalSiteMenu__li_dropped .tariffPlan .txt, .tvGuide__playingNow .programmsTimeLine__holder .programmsTimeLine__programmsHolder .programm, .droppedPromoTextBlock__item__text__about,  {
  line-height: normal;
}
.supportQuestionList__titleList li {
	margin-bottom: 15px;
}
.tariffPlanGrid__planTable__planTitle__hitSale {
	z-index: 1;
}
.extraItemDescription__item .packageSpotPrice__current {
	padding: 20px 6px 0 20px;
}
.tariffPlanGridBox__planTable th h3 {
	font-size: 16px;
}
.tariffPlanGridBox__planTable .tariffPlanSpeed {
	display:none;
}
.tariffPlanGridBox__planTable th span.hint {
	display:none;
}
.tariffPlanGridBox__planTable th > div {
	padding: 5px 23px 5px 23px !important;
}
.tariffPlanGridBox__planTable th > div:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 40px;
}
.tariffPlanGridBox__planTable th h3 {
	display: inline-block;
	vertical-align: middle;
	width: 95%;
}
.tariffPlanGridBox__planTable .specOfferItemDescriptionMid__txt p {
	line-height: normal;
}
.loginHelp__helper ul li:before {
	top: 1px;
}
/*.packageSpotPrice__current {
	padding: 35px 6px 0 35px;
}
*/
.specOfferItemDescriptionMid__img .packageSpotPriceMini__current p {
	position: relative;
	top: -10px;
}

.tt-menu {
	border: solid 1px #dddddd;
	width: 100%;
	padding: 12px;
	background: #ffffff;
	max-height: 180px;
	overflow-y: auto;
}

