.tariffPlanGridBox__planTable td
.onPagePopup_antivirusComparison {
  width: 930px;
}
.onPagePopup_antivirusComparison .onPagePopup__body__scroll {
  height: 520px;
}
.onPagePopup_antivirusComparison .scrollbar-inner {
  height: 520px;
}

.onPagePopup_box {
  display: none;
  background: #ffffff;
  border-bottom: solid 4px #f47920;
  z-index: 30001;
  min-width: 230px;
  max-width: 930px;
}
.onPagePopup_box hr {
  border-top: 1px solid #eee;
}

.onPagePopup_box__close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  background-position: 0 -428px;
}

.contentTabSelector {
  border-bottom: solid 1px #f2f3f5;
  margin-bottom: 25px;
  font-size: 14px;
}
.contentTabSelector {
	zoom: 1;
}
.contentTabSelector:before {
  content: "";
  display: table;
}
.contentTabSelector:after {
	clear: both;
}
.contentTabSelector:after {
  content: "";
  display: table;
}
.contentTabSelector li {
  float: left;
  padding-right: 30px;
}
.contentTabSelector li:last-child {
  padding-right: 0;
}
.contentTabSelector li a {
  display: block;
  text-decoration: none;
  border-bottom: solid 1px #f2f3f5;
  padding-bottom: 11px;
  position: relative;
  top: 1px;
}
.contentTabSelector li a {
  display: block;
  text-decoration: none;
  border-bottom: solid 1px #f2f3f5;
  padding-bottom: 11px;
  position: relative;
  top: 1px;
}
.contentTabSelector li a:hover {
  text-decoration: none;
  color: #000000;
  border-bottom: solid 1px #f47920;
}
.contentTabSelector li.active a {
  font-weight: bold;
  color: #000000;
  border-bottom: solid 1px #f47920;
}



.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20001;
  display: none;
}


#renamed V
.tariffPlanGridBox {
  background: #f9f9f9;
  box-shadow: inset 0px -4px 5px #eceded, inset 0px 50px 50px white;
  padding: 40px 0;
  margin-bottom: 40px;
}

.tariffPlanGridBox__planTable {
  margin: 20px 0 0;
}
.tariffPlanGridBox__planTable table {
  width: 100%;
  font-size: 14px;
  border-top: 1px solid #DDDDDC;
  border-right: none;
  border-bottom: 1px solid #DDDDDC;
  border-left: 1px solid #DDDDDC;
  
}
.tariffPlanGridBox__planTable th {
  border-top: 1px solid #DDDDDC;
  border-left: 1px solid #DDDDDC;
  border-right: 1px solid #DDDDDC;
  border-bottom: none;
  vertical-align: bottom;
}

.tariffPlanGridBox__planTable th > div {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f3f5));
  background: -webkit-linear-gradient(#ffffff, #f2f3f5);
  background: -moz-linear-gradient(#ffffff, #f2f3f5);
  background: -o-linear-gradient(#ffffff, #f2f3f5);
  background: linear-gradient(#ffffff, #f2f3f5);
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  color: #171B20;
  padding: 18px 23px 21px 23px;
}
.tariffPlanGridBox__planTable th h3 {
  color: #4a5159;
  margin-bottom: 5px;
  text-transform: uppercase;
  overflow:hidden;
}
.tariffPlanGridBox__planTable th .tariffPlanSpeed {
  margin-bottom: 0;
}
.tariffPlanGridBox__planTable th .hint {
  font-size: 14px;
  font-weight: 500;
  margin-top: -7px;
  margin-bottom: 6px;
  display: block;
  min-height:25px;
  height:25px;
  overflow:hidden;
}

.tariffPlanGridBox__planTable td {
  border-top: 1px solid #DDDDDC;
  border-left: 1px solid #DDDDDC;
  border-right: 1px solid #DDDDDC;
  border-bottom: none;
  padding: 15px 25px 15px 25px;
}

.tariffPlanGridBox__planTable_td_bottom {
	padding-bottom: 15px;
}
.tariffPlanGridBox__planTable td b {
  font-size: 22px;
}
.tariffPlanGridBox__planTable td ul {
  margin: 10px 0;
}
.tariffPlanGridBox__planTable td ul li {
  margin-bottom: 2px;
  padding-bottom: 15px;
}
.tariffPlanGridBox__planTable td a {
  text-decoration: none;
}
.tariffPlanGridBox__planTable td a:hover {
  text-decoration: underline;
}
.tariffPlanGridBox__planTable td .hint {
  display: block;
  color: #9099a3;
}
.tariffPlanGridBox__planTable td .linkGo {
  font-size: 14px;
  display: block;
  margin: 0 0 10px 0;
}
.tariffPlanGridBox__planTable td h2 {
  margin-bottom: 0;
}
.tariffPlanGridBox__planTable .accented {
  color: #8f99a3;
  font-size: 14px;
}
.tariffPlanGridBox__planTable .accented:before {
  top: 8px;
}

th.tariffPlanGridBox__planTable__bestTitle {
  border-left: solid 3px #008f4b !important;
  border-right: solid 3px #008f4b !important;
  vertical-align: top;
}
th.tariffPlanGridBox__planTable__bestTitle > div {
  margin-top: -8px;
  padding: 17px 23px 31px 23px !important;
  border: none !important;
  right: 0;
}
th.tariffPlanGridBox__planTable__bestTitle > div:before {
  content: '';
  display: block;
  position: absolute;
  left: -3px;
  right: -3px;
  height: 20px;
  top: -10px;
  border: solid 3px #008f4b;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #ffffff;
}

.fullFrameSlider + .tariffPlanGridBox {
  margin-top: -40px;
}

.tariffPlanGridBox__planTable__planTitle__hitSale {
  position: absolute;
  right: -7px;
  top: -14px;
  width: 101px;
  height: 102px;
  z-index: 1001;
}
.tariffPlanGridBox__planTable__planTitle__hitSale:before {
  content: '';
  display: block;
  width: 101px;
  height: 102px;
}

.tariffPlanGridBox__planTable__planTitle__hitSeason {
  position: absolute;
  right: -4px;
  top: -4px;
  width: 101px;
  height: 102px;
  z-index: 1001;
}
.tariffPlanGridBox__planTable_best .tariffPlanGridBox__planTable__planTitle__hitSeason {
  right: -7px;
  top: -7px;
}
.tariffPlanGridBox__planTable__planTitle__hitSeason:before {
  content: '';
  display: block;
  width: 101px;
  height: 102px;
}

.tariffPlanGridBox__planTable__zebra {
  padding: 20px 25px 15px 25px;
}

.tariffPlanGridBox__planTable__zebra td {
    background: none repeat scroll 0 0 #F7F8F6;
    vertical-align: middle;
    padding-bottom: 15px;
}
.tariffPlanGridBox__planTable__btns td {
  border-top: 0;
  padding-top: 0;
}

.tariffPlanGridBox__planTable__bodyBest {
  border-right: solid 3px #008f4b !important;
  border-left: solid 3px #008f4b !important;
}

.tariffPlanGridBox__planTable__price td {
  border-bottom: none;
  padding-bottom: 0;
}
.tariffPlanGridBox__planTable__price td b {
  font-family: "Fira Sans Medium";
  font-size: 30px;
  font-weight: normal;
  display: block;
}
.tariffPlanGridBox__planTable__price td b i {
  font-size: 14px;
  font-style: normal;
}
.tariffPlanGridBox__planTable__price td s {
  display: block;
  margin-top: -3px;
}
.tariffPlanGridBox__planTable__price td .btn {
  display: block;
  margin-top: 15px;
}

.tariffPlanGridBox__planTable__bottom td {
  padding-top: 10px;
}

.tariffPlanGridBox__planTable__bottom td ul li {
  margin-bottom: 3px;
  padding-bottom: 3px;
}

.tariffPlanGridBox__planTable__bottomLine {
  position: relative;
  margin: 20px -25px  -15px -25px;
}
.tariffPlanGridBox__planTable__bottomLine:before {
  content: '';
  display: block;
  position: absolute;
  left: -1px;
  right: -1px;
  height: 4px;
  bottom: -4px;
  border: solid 1px #dededd;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 1;
  background: #ffffff;
}
.tariffPlanGridBox__planTable__bodyBest .tariffPlanGridBox__planTable__bottomLine:before {
  left: -3px;
  right: -3px;
  border: solid 3px #008f4b;
  border-top: none;
  z-index: 2;
  background: none;
}

.tariffPlanGridBox__planTable__none {
  position: relative;
}
.tariffPlanGridBox__planTable__none:before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
}
.tariffPlanGridBox__planTable__none:before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
}

.linkGo + .tariffPlanGridBox__planTable__none {
  margin-top: 25px;
}

.tariffPlanGridBox__planTable_myPackage .tariffPlanGridBox__planTable__bestTitle > div {
  margin-top: 0;
  padding: 17px 23px 31px 23px !important;
  border: none !important;
  right: 0;
}
.tariffPlanGridBox__planTable_myPackage .tariffPlanGridBox__planTable__bestTitle > div:before {
  content: '';
  display: block;
  position: absolute;
  left: -3px;
  right: -3px;
  height: 20px;
  top: -10px;
  border: solid 3px #008f4b;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #ffffff;
}

.tariffPlanGridBox__planTable__emptyList {
  color: #c8ced6 !important;
}
.tariffPlanGridBox__planTable__emptyList a {
  color: #c8ced6 !important;
}
.tariffPlanGridBox__planTable__emptyList b {
  color: #c8ced6 !important;
}
#renamed A

#insert V

.specOfferItemDescriptionMid {
  position: relative;
  margin-top: 20px;
  margin-left: 25px;
}

.specOfferItemDescriptionMid__img {
  float: left;
  width: 100%;
  position: relative;
  width: 230px;
  padding-top: 0;
  margin-bottom: 9px;
  min-height: 100px;
}

.specOfferItemDescriptionMid__txt {
margin-left: 0;
color: #4a5159;
line-height: 24px;
font-size: 14px;
margin-bottom: 0px;
}
.specOfferItemDescriptionMid__txt h3 {
  margin-bottom: 5px;
}
.specOfferItemDescriptionMid__txt p.accented {
  margin-bottom: 15px;
  line-height: normal;
  font-size: 14px;
}

.antivirusBonusesToAdd {
  display: block;
  color: #008e4a;
  font-weight: 600;
  position: absolute;
  top: 20%;
  right: 20px;
}

.packageSpotPriceMini__current {
    position: absolute;
  top: 30%;
  right: 20px;
    background: url("../images/price_bubble_94X87.png") repeat scroll 0 0 transparent;
    width: 94px;
    height: 87px;
    padding: 25px 6px 0 18px;
    text-align: center;
    color: #FFFFFF;
}
.packageSpotPriceMini__current b {
font-family: "Fira Sans Medium";
font-size: 22px;
text-shadow: 0 1px 0 #c46722;
font-weight: normal;
}
.packageSpotPriceMini__current sup {
font-family: "Fira Sans Light";
font-size: 13px;
text-shadow: 0 1px 0 #c46722;
position: relative;
top: -7px;
}
.packageSpotPriceMini__current p {
font-size: 13px;
margin-top: -5px;
margin: 0;
padding: 0;
margin-bottom: 30px;
}
#insert A



.specOfferItemDescription2_vert .specOfferItemDescription2__img {
  float: none;
  width: 100%;
  position: relative;
  padding-top: 0;
  margin-bottom: 9px;
}
.specOfferItemDescription2_vert .specOfferItemDescription2__txt {
  margin-left: 0;
  color: #4a5159;
  line-height: 24px;
  font-size: 14px;
}
.specOfferItemDescription2_vert .specOfferItemDescription2__txt p {
  margin-bottom: 0;
}
.specOfferItemDescription2_vert {
  bottom: 0;
  left: 90px;
  top: auto;
  right: auto;
}

.packageSpotPrice2__current {
  position: absolute;
  bottom: 150px;
  left: 117px;
  top: auto;
  right: auto;
  background: url("../images/price_bubble_94X87.png");
  width: 94px;
  height: 87px;
  padding: 25px 6px 0 18px;
  text-align: center;
  color: #ffffff;
}
.packageSpotPrice2__current b {
  font-family: "Fira Sans Medium";
  font-size: 22px;
  text-shadow: 0 1px 0 #c46722;
  font-weight: normal;
}
.packageSpotPrice2__current sup {
  font-family: "Fira Sans Light";
  font-size: 13px;
  text-shadow: 0 1px 0 #c46722;
  position: relative;
  top: -7px;
}
.packageSpotPrice2__current p {
  font-size: 13px;
  margin-top: -5px;
}


.specOfferItemDescription2:before {
  content: "";
  display: table;
}
.specOfferItemDescription2:after {
  clear: both;
}
.specOfferItemDescription2 {
  zoom: 1;
}


.fancybox-close {
    cursor: pointer;
    display: none;
    height: 36px;
    position: absolute;
    right: -18px;
    top: -18px;
    width: 36px;
    z-index: 18040;
}

