.social-links-container .social-profiles {
    float: right;
    width: 240px;
    margin-right: 96px;
    margin-top: -14px;
    text-align: right;
}

.social-links-container .social-profiles li a {
    float: right;
    margin-right: 3px;
    background-image: url('/images/social-icons-20.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 20px;
    height: 20px;
}

.social-links-container .social-profiles li a span {
    display: none;
}

.social-links-container .social-profiles a.vk {
    background-position: 0 0;
}

.social-links-container .social-profiles a.fb {
    background-position: -20px 0;
}

.social-links-container .social-profiles a.tw {
    background-position: -40px 0;
}

.social-links-container .social-profiles a.yt {
    background-position: -60px 0;
}



