.standardHolderBlock__title_bold a {
	font-weight: bold;
	font-size: 18px;
	color: #000;
	text-decoration: none;
}

.agreementIdInfoDashboard {
	font-weight: bold;
	font-size: 24px;
}

.onPagePopup__equipmentComparison {
	width: 930px;
	position: static;
}

.onPagePopup__equipmentComparison .scrollbar-inner {
	height: 490px;
}

.onPagePopup__equipmentComparison__data {
	margin: 20px 0;
}

.onPagePopup__equipmentComparison__data td {
	border-left: solid 1px #eeeeee;
	padding: 0 20px 20px 20px;
}

.onPagePopup__equipmentComparison__data td:last-child {
	border-right: solid 1px #eeeeee;
}

.onPagePopup__equipmentComparison__data td:before {
	content: '';
	display: block;
	height: 1px;
	background: #eeeeee;
	margin-bottom: 20px;
}

.onPagePopup__equipmentComparison__data tr:first-child td:before {
	display: none;
}

.onPagePopup__equipmentComparison__data h3 {
	color: #4a5159;
	margin-bottom: 15px;
}

.onPagePopup__equipmentComparison__data ul li {
	color: #9099a3;
	margin-bottom: 13px;
}

.onPagePopup__equipmentComparison__img {
	display: block;
	position: relative;
	margin-bottom: 20px;
	width: 150px;
	height: 100px;
}

.onPagePopup__equipmentComparison__img img {
	border: solid 1px #eeeeee;
}

.onPagePopup__equipmentComparison__img .packageSpotPrice__current {
	left: 105px;
	top: 0;
	z-index: 300;
	margin-left: -20px;
}

h3.status {
	font-weight: normal;
	color: #9099a3 !important;
}

/*for antivirus compare block 2014.07.08 start*/
.onPagePopup_antivirCompare {
	width: 930px;
}

.onPagePopup_antivirCompare .onPagePopup__body__scroll {
	height: 520px;
}

.onPagePopup_antivirCompare .scrollbar-inner {
	height: 520px;
}
/*2014.07.08 finish*/
* 2014.07.08 start 2* /
.tariffPlanGrid {
	background: #f9f9f9;
	box-shadow: inset 0px -4px 5px #eceded, inset 0px 50px 50px white;
	padding: 40px 0;
	margin-bottom: 40px;
}

.tariffPlanGrid__planTable {
	margin: 20px 0 0;
}

.tariffPlanGrid__planTable table {
	width: 100%;
	font-size: 14px;
}

.tariffPlanGrid__planTable th {
	padding-top: 8px;
	vertical-align: bottom;
}

.tariffPlanGrid__planTable th>div {
	border: solid 1px #dddddc;
	border-bottom: none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 18px 23px 21px 23px;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff),
		color-stop(100%, #f2f3f5));
	background: -webkit-linear-gradient(#ffffff, #f2f3f5);
	background: -moz-linear-gradient(#ffffff, #f2f3f5);
	background: -o-linear-gradient(#ffffff, #f2f3f5);
	background: linear-gradient(#ffffff, #f2f3f5);
	position: relative;
	margin-right: -1px;
}

.tariffPlanGrid__planTable th h3 {
	color: #4a5159;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.tariffPlanGrid__planTable th .tariffPlanSpeed {
	margin-bottom: 0;
}

.tariffPlanGrid__planTable th .hint {
	font-size: 14px;
	font-weight: 500;
	margin-top: -7px;
	margin-bottom: 6px;
	display: block;
}

.tariffPlanGrid__planTable td {
	padding: 20px 25px 15px 25px;
	color: #171b20;
	border: solid 1px #dddddc;
	border-bottom: 0;
	background: #ffffff;
}

.tariffPlanGrid__planTable td b {
	font-size: 22px;
}

.tariffPlanGrid__planTable td ul {
	margin: 10px 0;
}

.tariffPlanGrid__planTable td ul li {
	margin-bottom: 2px;
}

.tariffPlanGrid__planTable td a {
	text-decoration: none;
}

.tariffPlanGrid__planTable td a:hover {
	text-decoration: underline;
}

.tariffPlanGrid__planTable td .hint {
	display: block;
	color: #9099a3;
}

.tariffPlanGrid__planTable td .linkGo {
	font-size: 14px;
	display: block;
	margin: 0 0 10px 0;
}

.tariffPlanGrid__planTable td h2 {
	margin-bottom: 0;
}

.tariffPlanGrid__planTable .accented {
	color: #8f99a3;
	font-size: 14px;
}

.tariffPlanGrid__planTable .accented:before {
	top: 8px;
}

th.tariffPlanGrid__planTable__bestTitle {
	border-left: solid 3px #008f4b !important;
	border-right: solid 3px #008f4b !important;
	vertical-align: top;
}

th.tariffPlanGrid__planTable__bestTitle>div {
	margin-top: -8px;
	padding: 17px 23px 31px 23px !important;
	border: none !important;
	right: 0;
}

th.tariffPlanGrid__planTable__bestTitle>div:before {
	content: '';
	display: block;
	position: absolute;
	left: -3px;
	right: -3px;
	height: 20px;
	top: -10px;
	border: solid 3px #008f4b;
	border-bottom: none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: #ffffff;
}

.fullFrameSlider+.tariffPlanGrid {
	margin-top: -40px;
}

.tariffPlanGrid__planTable__planTitle__hitSale {
	position: absolute;
	right: -7px;
	top: -14px;
	width: 101px;
	height: 102px;
	z-index: 1001;
}

.tariffPlanGrid__planTable__planTitle__hitSale:before {
	content: '';
	display: block;
	width: 101px;
	height: 102px;
}

.tariffPlanGrid__planTable__planTitle__hitSeason {
	position: absolute;
	right: -4px;
	top: -4px;
	width: 101px;
	height: 102px;
	z-index: 1001;
}

.tariffPlanGrid__planTable_best .tariffPlanGrid__planTable__planTitle__hitSeason
	{
	right: -7px;
	top: -7px;
}

.tariffPlanGrid__planTable__planTitle__hitSeason:before {
	content: '';
	display: block;
	width: 101px;
	height: 102px;
}

.tariffPlanGrid__planTable__zebra td {
	background: #f7f8f6;
	vertical-align: middle;
}

.tariffPlanGrid__planTable__btns td {
	border-top: 0;
	padding-top: 0;
}

.tariffPlanGrid__planTable__bodyBest {
	border-right: solid 3px #008f4b !important;
	border-left: solid 3px #008f4b !important;
}

.tariffPlanGrid__planTable__price td {
	border-bottom: none;
	padding-bottom: 0;
}

.tariffPlanGrid__planTable__price td b {
	font-family: "Fira Sans Medium";
	font-size: 30px;
	font-weight: normal;
	display: block;
}

.tariffPlanGrid__planTable__price td b i {
	font-size: 14px;
	font-style: normal;
}

.tariffPlanGrid__planTable__price td s {
	display: block;
	margin-top: -3px;
}

.tariffPlanGrid__planTable__price td .btn {
	display: block;
	margin-top: 15px;
}

.tariffPlanGrid__planTable__bottom td {
	padding-top: 10px;
}

.tariffPlanGrid__planTable__bottomLine {
	position: relative;
	margin: 20px -25px -15px -25px;
}

.tariffPlanGrid__planTable__bottomLine:before {
	content: '';
	display: block;
	position: absolute;
	left: -1px;
	right: -1px;
	height: 4px;
	bottom: -4px;
	border: solid 1px #dededd;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	z-index: 1;
	background: #ffffff;
}

.tariffPlanGrid__planTable__bodyBest .tariffPlanGrid__planTable__bottomLine:before
	{
	left: -3px;
	right: -3px;
	border: solid 3px #008f4b;
	border-top: none;
	z-index: 2;
	background: none;
}

.tariffPlanGrid__planTable__none {
	position: relative;
}

.tariffPlanGrid__planTable__none:before {
	content: '';
	display: block;
	width: 20px;
	height: 2px;
}

.tariffPlanGrid__planTable__none:before {
	content: '';
	display: block;
	width: 20px;
	height: 2px;
}

.linkGo+.tariffPlanGrid__planTable__none {
	margin-top: 25px;
}

.tariffPlanGrid__planTable_myPackage .tariffPlanGrid__planTable__bestTitle>div
	{
	margin-top: 0;
	padding: 17px 23px 31px 23px !important;
	border: none !important;
	right: 0;
}

.tariffPlanGrid__planTable_myPackage .tariffPlanGrid__planTable__bestTitle>div:before
	{
	content: '';
	display: block;
	position: absolute;
	left: -3px;
	right: -3px;
	height: 20px;
	top: -10px;
	border: solid 3px #008f4b;
	border-bottom: none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: #ffffff;
}

.tariffPlanGrid__planTable__emptyList {
	color: #c8ced6 !important;
}

.tariffPlanGrid__planTable__emptyList a {
	color: #c8ced6 !important;
}

.tariffPlanGrid__planTable__emptyList b {
	color: #c8ced6 !important;
}
/*2014.07.08 finish 2*/
.custom_scrolledPriceHolder_body_title {
	margin: 0px;
	float: left;
}

.custom_span_scrolledPriceHolder_body_info_swicth {
	padding-left: 5px;
	margin-top: -2px;
	float: left;
	position: relative;
}


.formFieldError { //
	color: red; //
	border: solid thin red;
	//
}

.formFieldError {
	color: red;
}

.formFieldErrorWithoutBorder {
	display: block;
	margin-top: 10px;
	color: red;
}

.widthWrapper {
	min-width: 600px;
}

.channelsCompare__filter__packageSelector__category,.channelsCompare__filter__packageSelector__extra
	{
	float: left;
}

.channelsCompare__filter__packageSelector__category>div,.channelsCompare__filter__packageSelector__extra>div
	{
	min-width: 165px;
	padding-right: 20px;
	float: left;
	margin-bottom: 7px;
}

.channelsCompare__filter__packageSelector__category b,.channelsCompare__filter__packageSelector__extra b
	{
	font-weight: normal;
	font-size: 16px;
	display: block;
	margin-bottom: 16px;
}

.channelsCompare__filter__packageSelector__extra {
	width: 370px;
}

.channelsCompare__filter__packageSelector__category {
	width: 600px;
}

.onPagePopupCustom {
	background: #ffffff;
	border-bottom: solid 4px #f47920;
	z-index: 30001;
	min-width: 230px;
	width: 640px;
}

.paymentHistoryGrid__total_custom td {
	background: white;
	border: none !important;
	border-top: solid 1px #ececec !important;
	border-bottom: none;
}

.paymentHistoryGrid__total_custom td:first-child {
	border-left: none;
}

.paymentHistoryGrid__total_custom td:last-child {
	border-left: none;
}

.bonusAndEventsCurrent h3 {
	margin-bottom: 15px;
}

.bonusAndEventsCurrent a {
	margin-top: 10px;
}

.bonusAndEventsCurrent .accented .hint {
	display: block;
	margin-top: 10px;
}

.bonusAndEventsCurrent__pic {
	width: 60%;
	display: block;
	margin: 0 auto 37px auto;
}

.bonusAndEventsCurrent__social {
	border-bottom: solid 1px #eeeeee;
	border-top: solid 1px #eeeeee;
	padding: 30px 0;
	margin: 30px 0;
}

.docs-wrapper {
	margin-top: 30px;
}

.promo-content-wrapper {
	height: 180px;
}

.cinemaB li {
	padding-left: 20px;
	margin-top: -10px;
	margin-bottom: 25px;
	position: relative;
	color: #8F99A3;
	font-size: 14px;
}

.cinemaB li:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 8px;
	border-left: solid 2px #fdb813;
	height: 10px;
	overflow: hidden;
	width: 1px;
}

.cinema_name_span {
	display: block;
	font-size: 13px;
	line-height: 14px;
	float: left;
	width: 92px;
	text-align: center;
	position: relative;
	top: 120px;
	color: #FFF;
	border: 0;
	padding: 0 3px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cinemaItemDescription__img {
	float: none;
	position: relative;
	padding-top: 0;
	margin-bottom: 9px;
}

.nameSubService a {
	color: #4a5159;
}

.buttonOfferDetail {
	margin-top: 15px;
}

.accented_offer {
	margin-bottom: 0px;
}

.terminalDescription__info__logo {
	width: 10%;
}

.terminalDescription__info__logo img {
	width: 100px;
}

.terminalDescription__info__description {
	width: 50%;
}

.terminalDescription__info__address {
	padding-top: 20px;
	padding-bottom: 5px;
	width: 40%;
}

.terminalDescription__info__description p {
	margin-bottom: 0;
}

.terminalDescription__info__logo,.terminalDescription__info__description
	{
	padding-top: 5px;
	padding-bottom: 5px;
}

/*Login form*/
.loginSignUp {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.loginSignUp__helper {
	display: none;
}

.loginSignUp__helper h2 {
	margin-bottom: 35px;
}

.loginSignUp__helper ul li {
	position: relative;
	padding-left: 30px;
	padding-bottom: 30px;
}

.loginSignUp__helper.active {
	width: 1000px;
	margin: 10px auto 0 auto;
	padding: 45px 180px 0 180px;
	display: block;
	position: relative;
}

.signupLoginButton {
	margin-top: 30px;
	margin-bottom: 50px;
}

.loginHelp__helper ul li:before,.loginHelp__helper ul li.active:before {
	background: url('../../images/iconspr-s9615f90542.png') no-repeat;
}

.loginHelp {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.loginHelp__directions {
	position: relative;
}

.loginHelp__helper {
	display: none;
}

.loginHelp__helper h2 {
	margin-bottom: 20px;
}

.loginHelp__helper_descript {
	margin-bottom: 20px;
	display: block;
}

.loginHelp__helper ul li {
	position: relative;
	padding-left: 30px;
	padding-bottom: 30px;
}

.loginHelp__helper ul li>a {
	font-size: 16px;
	text-decoration: none;
	color: #171b20;
}

.loginHelp__helper ul li>a:hover {
	text-decoration: underline;
}

.loginHelp__helper ul li:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 4px;
	width: 16px;
	height: 16px;
	background-position: 0 -3083px;
}

.loginHelp__helper ul li.active:before {
	background-position: 0 -3102px;
}

.loginHelp__helper ul li ul {
	display: none;
	padding: 25px 0 0 0;
}

.loginHelp__helper ul li ul li {
	padding-left: 0;
}

.loginHelp__helper ul li ul li:before {
	display: none;
}

.loginHelp__helper ul li.active ul {
	display: block;
}

.loginHelp__helper ul li .phoneHint {
	position: relative;
}

.loginHelp__helper ul li .phoneHint i {
	font-style: normal;
	position: absolute;
	left: 0;
	top: 8px;
	text-align: right;
	color: #9099a3;
	display: block;
	width: 60px;
}

.loginHelp__helper ul li .phoneHint .inputText {
	padding-left: 65px;
	color: #171b20;
}

.loginHelp__helper.active {
	width: 1000px;
	margin: 10px auto 0 auto;
	padding: 45px 180px 0 180px;
	display: block;
	position: relative;
}

.loginHelp__helper__addressForm__passport .inputText,.loginHelp__helper__addressForm__email .inputText
	{
	width: 300px;
}

/**********End login form ******************/
.errorLoginLabel {
	top: -30 px;
	bottom: 50 px;
}

.header__search__droppedResult {
	top: 21px;
}

.header__search__droppedResult .header__search_input {
	width: 410px;
}

.header__search__droppedResult__itemsList {
	min-height: 100px;
	overflow: auto;
}

.header__search__droppedResult__itemsList dl dt {
	line-height: normal;
}

.onPagePopup_changePackage .onPagePopup__title a {
	position: relative;
	margin-right: 15px;
}

/********************************Need for Technical diagnostic dialog*************************************/
.onPagePopup_verificationForm_tech {
	width: 900px;
	position: static;
	border-bottom: solid 4px #f47920;
	background: url("../../images/bkg_verificationForm.png") 0 0 repeat-y;
	overflow: hidden;
}

.onPagePopup_verificationForm .onPagePopup__body {
	min-height: 230px;
	margin: 0 0 0 310px;
	padding-left: 0;
	position: relative;
	font-size: 16px;
}

.onPagePopup_verificationForm .onPagePopup__body h2 {
	text-transform: none;
}

.onPagePopup_verificationForm .onPagePopup__bottom {
	margin: 0 20px 0 310px;
	padding-left: 0;
}

.onPagePopup_verificationForm__optionsList {
	margin-bottom: 20px;
}

.onPagePopup_verificationForm__optionsList li {
	margin-bottom: 10px;
	font-size: 16px;
}

.onPagePopup_techDiagnosis_custom {
	width: 600px;
	position: static;
	border-bottom: solid 4px #f47920;
	overflow: hidden;
}

.packagePageExtra__section__item__pic {
	max-width: 100%;
	height: 100px;
}

.btnPrevPage img {
	vertical-align: -4px !important;
}

.packageDescription {
	padding-right: 110px;
	text-align: justify;
}

.advantages-block ul.list li table img {
	width: 100px;
	margin: 10px 0 10px 0;
}

.promo-content-wrapper .accented::before {
	border-left: solid 10px #fdb813;
}

.standardHolderBlock__body .accented::before {
	border-left: solid 10px #fdb813;
}

.specialOffer {
	overflow: hidden;
	width: 700px
}

.personalOffer {
	overflow: hidden;
	width: 640px
}

#personalOfferDecription {
	padding-left: 15px;
}

.onPagePopup_verificationForm .current::before {
	margin-top: -2px;
}

#searchChannel * {
	display: table-row;
}

.accountPaymentsInformer label.formFieldError {
	border: none;
}

.interactiveLinkCustom {
	
}

.list-bullets-visible ul {
	list-style: circle;
}

.list-bullets-visible ul {
	list-style: circle;
	margin-left: 30px;
}

.list-bullets-visible p {
	margin-top: 30px;
}

p.MsoNormal {
	margin: 10px;
}

a.disabled {
	pointer-events: none; /* делаем ссылку некликабельной */
	cursor: default; /* устанавливаем курсор в виде стрелки */
	color: #999; /* цвет текста для нективной ссылки */
}

label.error {
	color: red;
}

.hint input {
	margin-top: 5px;
}

.signin_recov_url {
	display: block;
	padding-bottom: 20px;
}

.signup_url {
	display: block;
	padding-top: 20px;
}

.confirmButtonLogIn {
	max-width: 150px;
}

.onPagePopup_changeDateExec__itemList {
	margin-bottom: 15px;
	border: solid 1px #ececec;
	border-radius: 3px;
	background: #f9fafd;
	margin-right: 20px;
}

.onPagePopup_changeDateExec__itemList li {
	border-bottom: solid 1px #f2f3f5;
}

.onPagePopup_changeDateExec__itemList li:last-child {
	border-bottom: none;
}

.onPagePopup_changeDateExec__itemList li a {
	display: block;
	line-height: 35px;
	padding: 0 20px;
	color: #171b20;
	text-decoration: none;
}

.onPagePopup_changeDateExec__itemList li a:hover {
	background: #ebeef7;
}

.onPagePopup_changeDateExec__itemList li span {
	float: right;
}

.simpleSpanChildren>span>p {
	margin-bottom: 0px;
}

.categoryNotificationWarning {
	background: #e73535;
	border-radius: 3px;
	margin-bottom: 10px;
	padding: 15px 65px 10px 80px;
	position: relative;
	min-height: 70px;
	color: white;
	line-height: normal;
}

.categoryNotificationWarning :before {
	content: '';
	display: block;
	position: absolute;
	background-position: 0 -393px;
	width: 32px;
	height: 32px;
	left: 24px;
	top: 50%;
	margin-top: -16px;
}

.categoryNotificationWarning strong {
	display: block;
	font-family: "Fira Sans Medium";
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.categoryNotificationInformation {
	background: #fdb813;
}

.categoryNotificationInformation :before {
	background-position: 0 -241px;
}

.categoryNotificationNotification {
	background: #bed62f;
	border-color: #b2c927 !important;
}

.categoryNotificationNotification :before {
	background-position: 0 -358px;
}

.notificationBlock__close {
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -12px;
	display: block;
	width: 24px;
	height: 24px;
	background-position: 0 -989px;
	overflow: hidden;
}

.cite_withOptions_title {
	font-weight: bold;
	font-size: 17px;
	color: #171b20;
}

.syte_packageSpotPrice__current_mini {
	position: absolute;
	top: 0px;
	left: 100px;
	background: url("../../images/price_bubble_mini.png");
	width: 98px;
	height: 100px;
	padding: 45px 6px 0 35px;
	text-align: center;
	color: #ffffff;
	font-size: 11px;
	line-height: 12px;
}

.syte_packageSpotPrice__current_mini b {
	margin-top: 10px;
	font-family: "Fira Sans Medium";
	font-size: 22px;
	text-shadow: 0 1px 0 #c46722;
	font-weight: normal;
}

.syte_packageSpotPrice__current_mini sup {
	margin-top: 10px;
	font-family: "Fira Sans Light";
	font-size: 11px;
	text-shadow: 0 1px 0 #c46722;
	position: relative;
	top: -8px;
}

.price_my_services_block {
	margin: 0px 5px 0px 5px;
	padding: 0px 5px 0px 5px;
	border-right: solid 1px #ececec;
	border-left: solid 1px #ececec;
	/*position: absolute;
	right: 40px;*/
	width: 138px;
    height: 30px;
    overflow: hidden;
	float: right;
	overflow: hidden;
}

.color_gray{
	color: #9099a3;
}

.price_my_services_block_promo {
	font-weight: bold;
	font-size: 16px;
	color: #171b20;
}

.price_my_device_block {
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 5px;
	border-left: solid 1px #ececec;
	/*position: absolute;
	right: 40px;*/
	width: 105px;
    height: 30px;
	float: right;
	overflow: hidden;
}

.offer_due_date {
	width: 210px;
	height: 30px;
	float: right;
	overflow: hidden;
}

.offer_title{
	overflow: hidden;
	text-decoration: none;
	padding-left: 20px;
}

.offer_item{
	cursor: default;
	display: inline-block;
	width: 640px;
	margin-bottom: 25px;
}
.offer_description{
	width: 380px;
	float: left;
}

.title_my_services_block {
	padding-right: 10px;
	overflow: hidden;
	text-decoration: none;
	color: #000;
	width: 400px;
	float: left;
	cursor: pointer;
}

.tariffication_date_label{
	font-size: 14px;
	color: #9099a3;
}

.title_my_services_block_promo {
	padding-right: 10px;
	overflow: hidden;
	text-decoration: none;
	width: 430px;
	float: left;
}

.title_my_services_block a:hover {
	text-decoration: none;
	color: #9099a3;
}

.title_my_device_block {
	padding-right: 10px;
	width: 460px;
	float: left;
}

.promo_my_services_all_block {
	display: block;
	padding: 0 0px;
}

#
Class for displaying scrolling
.scroll-bar {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.scrollbar-inner>.scroll-element .scroll-bar {
	background-color: #f47920;
}

.html-custom-block ol>li {
	margin: 8px;
	list-style: decimal outside;
}

.html-custom-block ul>li {
	margin: 8px;
	list-style: disc outside;
}

.html-custom-block ul,ol {
	padding: 15px;
}

.social__button a {
	margin-top: 0px;
}

.innerSlider__frame .wrapper2Columns__column {
	vertical-align: middle;
}

.tvPointInfoBlock{
	width: 100%; 
	display: block;
	min-height: 50px;
}

.tvPointInfoAmount{
	max-width: 383px; 
	display: block;
	position: absolute;	
}

.cite_service_device{
	display: inline-block;
	width: 640px;
}

.socialLinks {
	float: left;
    padding-left: 10px;
    width: 130px;
    border-right: solid 1px #eeeeee;
    margin-right: 10px;
}