.left-column {
	width:200px;
	float:left;
	display:inline-block;
	cursor: pointer;
}

.right-column {
	margin-left:200px;
	cursor: pointer;
}

li div.popover {
	width:400px;
	max-width:400px;
}

div.horizontalRule {
    min-height: 1px;
    clear:both; width:100%;
    border-bottom:1px solid #d1d1d1;
    height:1px; padding-top:5px;
    margin-top:5px;
    margin-bottom:15px;
}

div.popover-header {
	white-space:nowrap;
	text-align:center;
	font-size:medium;
	font-weight:bold;
}